<div class="span9">
    <div style="text-align: center; width: 100%;">
        <h1>Combined Rankings</h1>
    </div>
    <table class="table table-bordered">
        <tr>
            <th style="width: 15%">Team Name</th>
            <th style="width: 15%">Football Rank</th>
            <th style="width: 15%">Basketball Rank</th>
            <th style="width: 15%">Combined Rank</th>
        </tr>
        <tr ng-repeat="team in teams | orderObjectBy:'Crank':false" ng-cloak class="ng-cloak">
			<td>
				{{team.Name}}
			</td>
			<td>
				<div>{{team.Frank || "unranked"}}</div>
			</td>
			<td>
				<div>{{team.Brank || "unranked"}}</div>
			</td>
			<td>
				<div>{{team.Crank}}</div>
			</td>
        </tr>
    </table>
</div>