<div id="container"></div>
<script defer>
    let sources = {
        background: 'background.png',
        foreground: 'foreground.png'
    };
    loadImages(sources, initStage);

    function loadImages(sources, callback) {
        let assetDir     = 'img/',
            images       = {},
            loadedImages = 0,
            numImages    = 0;

        for(let src in sources) {
            numImages++;
        }
        for(let src in sources) {
            images[src] = new Image();
            images[src].onload = function() {
                if(++loadedImages >= numImages) {
                    callback(images);
                }
            };
            images[src].src = assetDir + sources[src];
        }
    }

    function initStage(images) {
        let stage = new Kinetic.Stage({
            container: 'container',
            width: 706,
            height: 706
        });

        let background = new Kinetic.Image({
            image: images.background,
            x: 0,
            y: 0,
            width: 706,
            height: 706
        });

        let layer = new Kinetic.Layer();
        layer.add(background);
        stage.add(layer);

        let foreground = new Kinetic.Image({
            image: images.foreground,
            x: 353,
            y: 353,
            width: 577,
            height: 613,
            offset: {x: 288.5, y: 306.5}
        });

        let layer = new Kinetic.Layer();
        layer.add(foreground);
        stage.add(layer);

        let timeNow = new Date();
        let offset = (((timeNow.getUTCHours() * 3600) + (timeNow.getUTCMinutes() * 60) + (timeNow.getUTCSeconds())) / 86400) * 360;
        foreground.rotate(offset + 180);

        let angularSpeed = (Math.PI / 86400);
        let anim = new Kinetic.Animation(function(frame) {
            let angleDiff = frame.timeDiff * angularSpeed / 500;
            foreground.rotate(angleDiff);
        }, layer);

        anim.start();
    }
    ;
</script>
